.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .user-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        color: #fcffe7;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        img {
            width: 46px;
            height: 46px;
            border-radius: 100rem;
        }
    }
    .cart-button {
        position: relative;
        .quantity {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            width: 24px;
            height: 24px;
            background-color: #ce5959;
            border-radius: 100rem;
        }
    }
}
