.wrapper {
    display: flex;
    column-gap: 30px;
    flex-direction: row;

    .slider {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .information {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-grow: 5;

        .name {
            font-size: 24px;
            letter-spacing: 1px;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-bottom: 30px;
            flex-grow: 2;

            p {
                width: 520px;
                font-size: 18px;
                font-weight: 300;
                white-space: break-spaces;
            }
        }

        .quantity {
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .handler {
            flex-grow: 1;
        }
    }
}
