.wrapper {
    width: 240px;
    background-color: #f0f0f0;
    overflow-y: scroll;
    padding: 20px;
    height: 100%;
}

/* Customize the scrollbar appearance */
.wrapper::-webkit-scrollbar {
    width: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px;
}

.wrapper::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}
