.header {
    background-color: #2b3467;
    padding: 16px;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #2b3467;
}

.content {
    height: 100vh;
}
